name: CI 
on: push 
jobs:   
  build:
    runs-on: ubuntu-latest
    env:
        IMAGE: ghcr.io/raznyj/python-app
    steps:
    - uses: actions/checkout@v4

    - name: Create timestamp
      run: echo "TS=$(date +%Y-%m-%d-%H-%M-%S)" >> $GITHUB_ENV
    
    - name: Build image
      run: docker build -t $IMAGE:latest .
    
    - name: Tag with timestamp
      run: docker tag $IMAGE:latest $IMAGE:${TS}
    
    - name: Push both
      run: |
        docker push $IMAGE:latest
        docker push $IMAGE:${TS}
